body {
    background: linear-gradient(to right, #2af598, #009efd);
    display: flex;
    justify-content: center
}

h1{
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;
}

.overlay {
    display: grid;
    padding: 0.7rem;
    column-gap: 9.3rem;
    grid-template-columns: 11rem 11rem 5rem;
    column-gap: 3rem;
    align-items: center;
    border-radius: 18px;
    transition: background-color 0.3s ease-in-out
}

.overlay:hover {
    background-color: aquamarine;
}

.display {
    margin-top: 6rem;
    display: flex;
    height: 30%;
    width: auto;
    padding: 0.4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 3%;
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
}
.head-btns {
    display: grid;
    grid-template-columns: 11rem 11rem 5rem 5rem;
    column-gap: 2rem;
}

@media (max-width: 480px){
    h1{
        font-size: 2rem;
    }

    .delete-btn{
        width: fit-content;
    }

    .head-btns{
        grid-template-columns: 80px 60px 50px 50px;
        column-gap: 1.2rem;
    }

    .task-bar::placeholder{
        font-size: 0.4rem;
    }

    .overlay{
        grid-template-columns: 30px 50px 20px;
        column-gap: 2rem;
    }

    .tasks{
        row-gap: 0.1rem;
    }

    .tasks>.overlay {
        font-size: 0.8rem;   
    }
}

input,
button {
    height: 2rem;
    border-radius: 10px;
    border: none
}

.date-bar {
    cursor: pointer;
}

input {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    outline: none
}

.task-bar,
.info-section,
.date {
    font-family: Arial, Helvetica, sans-serif;
}


button {
    transition: transform 0.3s ease
}

button:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.add-btn {
    background-color: #2af598;
    color: white
}

.delete-all-btn,
.delete-btn {
    background-color: red;
    color: azure;

}


